@font-face {
  font-family: 'aktiv';
  src: url('./../fonts/aktivgrotesk_w_rg-webfont.woff2') format('woff2'),
       url('./../fonts/aktivgrotesk_w_rg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('./../fonts/aktivgrotesk_w_md-webfont.woff2') format('woff2'),
       url('./../fonts/aktivgrotesk_w_md-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'aktiv';
  src: url('./../fonts/aktivgrotesk_w_bd-webfont.woff2') format('woff2'),
       url('./../fonts/aktivgrotesk_w_bd-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
