$green: #04b156;
$dark-green: #089349;
$light-grey: #aeaeae;
$text-color: #41463f;
$selection-bg: #f2fbf6;
$border-color: #ddd;
$error-bg: #fbe9ea;
$error-text: #D92632;

$font-family-base: 'Aktiv', Helvetica, Arial, sans-serif;
$font-family-alt: 'Harriet Text', 'Times New Roman', Georgia, serif;
$font-size-base: 1.6rem;
$line-height-base: 2.4rem;

$padding-horizontal-base: 1rem;
$padding-horizontal-base-2: 5vw;

$content-width-s: 100rem;
$content-width: 130rem;
